body {
  background: rgb(69, 124, 138);
  background: linear-gradient(
    90deg,
    rgba(69, 124, 138, 1) 0%,
    rgba(44, 108, 105, 1) 50%,
    rgba(20, 96, 80, 1) 100%
  );
}
.header {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgb(98, 175, 194);
  background: linear-gradient(
    90deg,
    rgba(98, 175, 194, 1) 0%,
    rgba(65, 171, 166, 1) 50%,
    rgba(33, 166, 138, 1) 100%
  );
  color: rgb(255, 255, 255);
  font-size: 5vh;
}
.content {
  display: flex;
  flex-direction: row;
  min-height: 93vh;
  background: rgb(69, 124, 138);
  background: linear-gradient(
    90deg,
    rgba(69, 124, 138, 1) 0%,
    rgba(44, 108, 105, 1) 50%,
    rgba(20, 96, 80, 1) 100%
  );
}
.box1 {
  display: flex;
  justify-content: center;
  width: 25vw;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  margin: 15px;
}
.box2 {
  display: flex;
  width: 75vw;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  margin: 15px;
}
.text {
  display: flex;
  flex-direction: column;
  margin: 15px;
  font-size: 2vw;
}
.myButton1 {
  border: solid 1px;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  margin: 10px;
  padding: 0.5vw;
  font-size: 24px;
  background-color: rgb(69, 124, 138);
}
.myButton2 {
  border: solid 1px;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0.5vw;
  font-size: 24px;
  background-color: rgb(170, 55, 55);
}
.myButton1:focus {
  outline: none;
}
.myButton1:active {
  transform: scale(0.85);
}
.myButton2:focus {
  outline: none;
}
.myButton2:active {
  transform: scale(0.85);
}
.myInput {
  font-size: 1.5vw;
}
.myInput:focus {
  outline: none;
}
.tasks {
  display: flex;
  flex-direction: row;
}
.taskval {
  display: flex;
  overflow-wrap: break-word;
  word-break: break-all;
}
